In [1]:
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Cabo San Lucas,MX,84.00,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,5,Rikitea,PF,78.35,light rain,-23.1203,-134.9692,Pension Maro'i
2,9,Vaini,TO,80.60,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,16,Shujalpur,IN,81.70,broken clouds,23.4000,76.7167,Krishna Sweets
4,21,Sao Filipe,CV,76.03,clear sky,14.8961,-24.4956,Tortuga B&B
...,...,...,...,...,...,...,...,...
229,710,Karaton,ID,78.01,few clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
230,711,Pindiga,NG,88.84,overcast clouds,9.9833,10.9333,Accommodation Center
231,712,San Policarpo,PH,77.47,overcast clouds,12.1791,125.5072,JM Lodge
232,714,Camargo,MX,86.25,overcast clouds,27.6667,-105.1667,Hotel Santa Fe
233,722,Jati,PK,79.05,clear sky,24.3539,68.2671,Cafe Lala Rehan Restaurant

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[(vacation_df["City"] == "Arraial Do Cabo")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,51,Arraial Do Cabo,BR,78.8,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [42]:
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Uberaba")]
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
139,433,Uberaba,BR,84.2,clear sky,-19.7483,-47.9319,Tamareiras Park Hotel

In [43]:
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Candido Mota")]
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
213,667,Candido Mota,BR,79.12,clear sky,-22.7464,-50.3869,VIP Hotel

In [44]:
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Araucaria")]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
88,289,Araucaria,BR,77.0,clear sky,-25.5931,-49.4103,Hotel San Gabriel

In [45]:
vacation_end = vacation_df.loc[(vacation_df["City"] == "Arraial Do Cabo")]
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,51,Arraial Do Cabo,BR,78.8,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

Start: (-22.9661, -42.0278), End: (-22.9661, -42.0278)

In [47]:
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop1

(-19.7483, -47.9319)

In [48]:
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop2

(-22.7464, -50.3869)

In [49]:
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
stop3

(-25.5931, -49.4103)

In [76]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

# Latitude-longitude pairs
start = (-22.9661, -42.0278)
stop1 = (-19.7483, -47.9319)
stop2 = (-22.7464, -50.3869)
stop3 = (-25.5931, -49.4103)
end = (-22.9661, -42.0278)

fig = gmaps.figure()
start2end_via_waypoints = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end_via_waypoints)
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,51,Arraial Do Cabo,BR,78.80,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,433,Uberaba,BR,84.20,clear sky,-19.7483,-47.9319,Tamareiras Park Hotel
2,667,Candido Mota,BR,79.12,clear sky,-22.7464,-50.3869,VIP Hotel
3,289,Araucaria,BR,77.00,clear sky,-25.5931,-49.4103,Hotel San Gabriel

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0 -22.9661 -42.0278
1 -19.7483 -47.9319
2 -22.7464 -50.3869
3 -25.5931 -49.4103

In [75]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))